<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <style>
        .validation-summary-errors { color: #f00; font-weight: bold;}
    </style>
</head>
<body>
    <div>
        @if (TempData["message"] != null) {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @{
            string username = HttpContext.Current.User.Identity.Name;
            if (!string.IsNullOrEmpty(username)) { 
                <h3>
                    <a href="/">Спортивный магазин</a>
                    <span class="btn-info btn pull-right">
                        @Html.ActionLink(username + " - выйти", "Logout", "Account")
                    </span>
                </h3>  
            }
        }
       
        @RenderBody()
    </div>
</body>
</html>
